* {
  margin: 0;
  padding: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: linear-gradient(
    -45deg,
    #DFA34C,
    #959295,
    #DFA34C,
    #959295
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  display: grid;
  place-items: center;
}

main {
  background: left url(images/fundo2.png);
  border: 0.5px solid #404247;
  width: 375px;
  height: 812px;
  border-radius: 15px;
}

.container {
  max-width: 250px;
  margin: auto;
  text-align: center;
  color: var(--grey);
}

.logo {
  margin: 0 auto;
}

.logo img {
  margin-top: 6rem;
  margin-bottom: 6rem;
  width: 250px;
  border-radius: 10px;
  border: 10px;
}

.info {
  display: inline-block;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 6rem;
  border: 2px solid  #ffffff;
}

.info p{
  color: #ffffff;
  font-size: 19px;
  font-weight: bold;
  padding: 15px;
  text-shadow: #000000 1px 1px 0.5px;
  
}

h1 {
  color: #404247;
  text-shadow: #ffffff 0.25px 0.25px;
  margin: 20px 0 -20px 0;
}

.medias {
  max-width: 250px;
  margin: auto;
  text-align: center;
}

/* ul{
  background-color: #ffffff;
  margin: 2px;
  padding: 10px;
  border-radius: 10px;
} */

ul > li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.instagram img {
  border-radius: 7px;
}

.whatsapp img {
  border-radius: 7px;
}

/* .facebook img {
  border-radius: 7px;
}

.twitter img {
  border-radius: 7px;
}
 */