* {
  margin: 0;
  padding: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: linear-gradient(
    -45deg,
    #DFA34C,
    #959295,
    #DFA34C,
    #959295
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  display: grid;
  place-items: center;
}

main {
  background: bottom left url(images/fundo2.png);
  width: 375px;
  height: 812px;
  border-radius: 15px;
}

.container {
  max-width: 275px;
  margin: auto;
  text-align: center;
}

.caixa{
  padding: 10px;
  margin-top: 6rem;
  height: 8rem;
  width: 16rem;
  background-color: #ffffff;
  border-radius: 20px;
  opacity: 60%;
}

.logo img {

  position: absolute;
  display: block;
  margin-top: -8.5rem;
  margin-bottom: 6rem;
  margin-left: 0.8rem;
  width: 250px;
  border: 10px;
}



.info {
  display: inline-block;
  padding: 5px;
  border-radius: 20px;
  margin-top: 6rem;
  margin-bottom: 6rem;
  border: 2px solid  #ffffff;
}

.info p{
  color: #ffffff;
  font-size: 19px;
  font-weight: bold;
  padding: 20px;
  text-shadow: #000000 1px 1px 0.5px;
  
}

.medias {
  max-width: 275px;
  margin: auto;
  text-align: center;
}

ul > li {
  list-style: none;
  display: inline-block;
  padding: 35px;
}

.instagram img {
  border-radius: 7px;
}

.whatsapp img {
  border-radius: 7px;
}