* {
  margin: 0;
  padding: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: linear-gradient(
    -45deg,
    #afecff,
    hsl(187, 100%, 83%),
    #c2efff,
    #ffffff
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  display: grid;
  place-items: center;
}

main {
  background:center url(images/fundonovo.jpg);
  border: 0.25px solid #404247;
  width: 375px;
  height: 812px;
  border-radius: 15px;


}

.container {
  max-width: 250px;
  margin: auto;
  text-align: center;
  color: var(--grey);
}
.logo {
  margin: 0 auto;
}
.logo img {
  margin-top: 6rem;
  width: 250px;
  border-radius: 10px;
  border: 10px;
}

.info {
  background-color: #ffffff;
  border-radius: 10px;
}

.info h3{
  padding: 10px;
}

h1 {
  color: #404247;
  text-shadow: #ffffff 0.25px 0.25px;
  margin: 20px 0 -20px 0;
}

h3 {
  color: #606268;
  font-size: 19px;
  margin: 88px 0px 100px 0px;
}

.medias {
  max-width: 250px;
  margin: auto;
  text-align: center;
}

ul{
  background-color: #ffffff;
  margin: 2px;
  padding: 10px;
  border-radius: 10px;
}

ul > li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.instagram img {
  border-radius: 7px;
}

.facebook img {
  border-radius: 7px;
}

.twitter img {
  border-radius: 7px;
}
